<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>x6wao4Kk3h8YPQ1kEO6wvSrBsWVY9eHZ</string>
	<key>Domain</key>
	<string>dev-1fjzeag2i8t5jnxs.us.auth0.com</string>
</dict>
</plist>
